flows.json
[{"id":"b812130a.145a7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23b46659.ca0a6a","type":"ui_switch","z":"b812130a.145a7","name":"Relay1WebUI","label":"Relay1","tooltip":"","group":"1fc3173b.d69979","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"room/lamp","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":280,"wires":[["9aaa6ab.15def98","9721c0f7.a9a19","4e2dc806.f534a8"]]},{"id":"cfbf9b2a.fbb768","type":"mqtt out","z":"b812130a.145a7","name":"RelayOut","topic":"room/lamp","qos":"","retain":"","broker":"f5fcf2a5.a4a79","x":820,"y":280,"wires":[]},{"id":"9aaa6ab.15def98","type":"debug","z":"b812130a.145a7","name":"DebugRelay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"db26a1ed.271e2","type":"homekit-service","z":"b812130a.145a7","accessory":"9df895f1.2499a8","name":"Relay1","serviceName":"Switch","x":420,"y":220,"wires":[["6a2ee200.22253"]]},{"id":"4e2dc806.f534a8","type":"function","z":"b812130a.145a7","name":"WebtoHomekitTransform","func":"msg.payload = {On:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":220,"wires":[["db26a1ed.271e2"]]},{"id":"9721c0f7.a9a19","type":"function","z":"b812130a.145a7","name":"TranslatetoESP","func":"if (msg.payload){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":280,"wires":[["cfbf9b2a.fbb768"]]},{"id":"6a2ee200.22253","type":"function","z":"b812130a.145a7","name":"HometoWebTransform","func":"msg.payload = msg.payload.On\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":280,"wires":[["23b46659.ca0a6a"]]},{"id":"6690b0cd.995b","type":"ui_slider","z":"b812130a.145a7","name":"","label":"slider","tooltip":"","group":"75ce7c71.6d49a4","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":590,"y":1280,"wires":[[]]},{"id":"1fc3173b.d69979","type":"ui_group","z":"","name":"Relay1","tab":"283dc30f.6f9ddc","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5fcf2a5.a4a79","type":"mqtt-broker","z":"","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9df895f1.2499a8","type":"homekit-accessory","z":"","accessoryName":"Terminal1","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"8"},{"id":"75ce7c71.6d49a4","type":"ui_group","z":"","name":"Refrigerator","tab":"85047f35.697f1","order":1,"disp":true,"width":"6","collapse":false},{"id":"283dc30f.6f9ddc","type":"ui_tab","z":"","name":"BedRoom","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"85047f35.697f1","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":2,"disabled":false,"hidden":false}]